{% extends "layout.html" %}

{% block content %}      
  <div class="col-md-3 offset-md-3">
    <h5>Register</h5>
            <br>
      <form method="POST" action="">
          {% csrf_token %}
            {% if form.errors %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  Your Form Has Errors
                    {% for field in form %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
              <p> {{ form.username }}</p>
              <p>{{ form.email }}</p>
              <p>{{ form.first_name }}</p>
              <p>{{ form.last_name }}</p>
              <p>{{ form.password1 }}</p>
              <p>{{ form.password2 }}</p>
                <br/>
            <button type="submit" class="btn btn-secondary">Register</button>
      </form>
  </div>
{% endblock %}